@mixin button {
  text-decoration: none;
  color: $second;
  font-size: 14px;
  padding: 7px 14px;
  border: 2px solid $primary;
  font-weight: bold;

  transition: 0.3s;
  &:hover {
    border: 2px solid $second;
  }
}
.client {
  width: 80%;
  background-color: white;
  height: 20%;
  border: 2px solid $second;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  &__title {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: $second;
  }
  &__address {
    color: $second;
    margin-top: 10px;
    text-align: center;
  }
  &__address-wrapper {
    position: absolute;
    right: 15px;
    bottom: 20px;
  }
  &__delete {
    @include button();
  }
  &__edit {
    @include button();
  }
  &__info {
    width: 100%;
    margin-top: 20px;
    color: red;
    text-align: center;
  }
}
