.details {
  width: 80%;
  background-color: white;
  height: 30%;
  border: 2px solid $second;
  margin: 0 auto;
  margin-top: 20px;
  &__title {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: $second;
  }
  &__flat {
    color: $second;
    text-align: center;
    margin-top: 7px;
  }
  &__price {
    color: green;
    text-align: center;
    margin-top: 7px;
  }
}

// <?php if (isset($_SESSION['acces']) && $_SESSION['acces'] === 1):?>
// <?php dump($data)?>
// <section class="details">
//     <h1 class="details__title"><?php echo $data["name"]?>
//     </h1>
//     <h2 class="details__flat"><?php echo $data["flat"]?>
//     </h2>
//     <h2 class="details__price"><?php echo $data["price"]?> zł
//     </h2>

// </section>
// <?php endif;
