@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}

.login__wrapper {
  color: #54bef3;
  width: 50%;
  height: 35vh;
  border: 2px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.login__header {
  text-align: center;
  margin-top: 10px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.login__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  font-size: 20px;
}

.login__input {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #dddddd;
  outline: none;
}

.login__input:focus {
  border-bottom: 2px solid #54bef3;
}

.login__submit {
  padding: 5px 12px;
  color: #54bef3;
  font-size: 15px;
  background-color: white;
  border: 2px solid #54bef3;
  cursor: pointer;
}

.login__submit:hover {
  color: white;
  background-color: #54bef3;
}

.login__fail {
  color: red;
  text-align: center;
  margin-top: 30px;
}

.panel {
  background-color: #dddddd;
  width: 100%;
  height: 100vh;
  position: relative;
}

.panel .hamburger {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  top: 5%;
  cursor: pointer;
}

.panel .hamburger .hamburger__span {
  display: block;
  width: 40px;
  height: 7px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 9px;
  top: 20px;
  cursor: pointer;
}

.panel .hamburger .hamburger__span--active {
  background-color: #dddddd;
}

.panel__header {
  text-align: center;
  height: 10vh;
  background-color: #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__link-logo {
  text-decoration: none;
  color: #54bef3;
}

.panel__hello-user {
  position: absolute;
  right: 20px;
  color: #54bef3;
}

.panel__fail {
  color: red;
  position: absolute;
  top: 20%;
}

.panel__menu {
  width: 30%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #54bef3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -30%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.panel__menu--active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.panel__links-container {
  list-style: none;
  margin-bottom: 100px;
}

.panel__link-container {
  padding: 15px 0;
}

.panel__link {
  text-decoration: none;
  color: #dddddd;
  font-size: 27px;
}
/*# sourceMappingURL=style.css.map */